myNavbar {
  margin-bottom: 0;
  border-radius: 0;
}

h1 {
  font-family: serif;
  text-align: center;
}

.contact-image img:hover {
  background-color: #C37500;
  opacity:0.7 !important;
  filter:alpha(opacity=70) 
  box-shadow: 0 0 0px #000000 
}

.contact-image{
  position: relative;
  float: right;
  width:  10px;
  height: 10px;
}
